@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #F5F0F0;
}

/* @layer utilities { */
  .text-balance {
    text-wrap: balance;

  }

  /*===================================== Gradientes ====================================*/
  .gradient {
    @apply bg-gradient-to-r from-blue-900 via-sky-500 to-indigo-800
  }

  .gradient-delete {
    @apply bg-gradient-to-tl from-red-600 to-orange-500
  }

  .gradient-enable {
    @apply bg-gradient-to-tl from-emerald-500 to-teal-400
  }

  .gradient-add {
    /* @apply bg-gradient-to-tl from-blue-500 via-blue-600 to-blue-700 */
    @apply bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700
  }

  .gradient-update {
    @apply bg-gradient-to-tl from-cyan-500 to-blue-500
  }

  .gradient-show {
    @apply bg-gradient-to-tl from-blue-500 to-violet-500
  }

  .gradient-photo {
    @apply bg-gradient-to-tl from-orange-500 to-yellow-500
  }

  /*======================================= Button ======================================*/
  .btn-primary {
    @apply text-white hover:bg-gradient-to-br focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 transition-all ease-in shadow-sm hover:-translate-y-px 
  }
  .btn-gnrl {
    @apply inline-block px-2 py-2 mr-3 font-bold text-center text-white uppercase align-middle transition-all rounded-lg cursor-pointer  leading-normal text-xs ease-in shadow-sm hover:-translate-y-px active:opacity-85 hover:shadow-md outline-none
  }



  .btn-primary-small {
    @apply px-3 py-2 text-sm font-semibold text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:outline-none
  }

  /*==================================== Formularios ====================================*/
  .label-text {
    @apply inline-block mb-2 ml-1 font-bold text-sm text-slate-700
  }
  .input-text {
    @apply text-sm block w-full focus:shadow-md appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-400 focus:border-blue-500 focus:outline-none
  }


  /* Transitions */
  .transition-max-height {
    transition: max-height 0.5s ease-in-out;
  }

  .transition-max-width {
    transition: max-width 0.5s ease-in-out;
  }


/* } */
